.home {
  background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0, 1) 35%, rgba(0,0,0,0.4)),
    url("https://assetsio.reedpopcdn.com/dicebreaker-recommends-cockroach-poker-the-bug-bluffing-card-game-to-bring-out-during-the-holidays-1639495982743.jpg?width=690&quality=75&format=jpg&dpr=2&auto=webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.homeimg {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}